# 1. String Based Practice Questions

In [1]:
# 1. Write a program to reverse a string.

string_1 = input("Enter a phrase:")
string_rev = string_1[::-1]
string_rev

Enter a phrase: there

'ereht'

In [4]:
# 2. Check if a string is a palindrome.
string_pall = input("Enter a phrase:")
if string_pall == string_pall[::-1]:
    print("The string is a pallindrome")
else:
    print("The string is not a pallindrome")

Enter a phrase: 123

The string is not a pallindrome

In [5]:
# 3. Convert a string to uppercase.
string_2 = input("Enter a phrase:")
print(string_2.upper())

Enter a phrase: there

THERE

In [6]:
# 4. Convert a string to lowercase.
string_3 = input("Enter a phrase:")
print(string_3.lower())

Enter a phrase: THERE

there

In [10]:
# 5. Count the number of vowels in a string.
string_4 = input("Enter a phrase:")
count = 0
vowels = "AEIOUaeiou"
for i in string_4:
    if i in vowels:
        count += 1
    else:
        pass
print("The number of vowels in the phrase is :", count)

Enter a phrase: Enter a phrase: THERE

The number of vowels in the phrase is : 7

In [18]:
# 6. Count the number of consonants in a string.
string_5 = input("Enter a phrase:").replace(" ", '')
count = 0
vowels = "AEIOUaeiou"
for i in string_5:
    if i not in vowels:
        count += 1
    else:
        pass
print("The number of vowels in the phrase is :", count)

Enter a phrase: .

The number of vowels in the phrase is : 1

In [19]:
# 7. Remove all whitespaces from a string.
string_6 = input("Enter a phrase:").replace(" ", '')
print(string_6)

Enter a phrase: there are many kids in the school

therearemanykidsintheschool

In [24]:
# 8. Find the length of a string without using the `len()` function.
st_len = list(input("Enter a phrase:"))
count = 0 
for i in st_len:
    count += 1
print(count)

Enter a phrase: there are kids

14

In [28]:
# 9. Check if a string contains a specific word.
st_word = (input("Enter a phrase:"))
word = input("The word to be found:")
if word in st_word:
    print("The string contains '{}'".format(word))
else:
    print("The string does not contains '{}'".format(word))

Enter a phrase: there are four cars in the parking
The word to be found: cars

The string contains 'cars'

In [3]:
# 10. Replace a word in a string with another word.
st_ori = input("Enter a phrase:")
st_replace = input("word to replace:")
st_insert = input("the word to insert:")
st_new = st_ori.replace(st_replace, st_insert)
print(st_new)

Enter a phrase: there are three buses
word to replace: three
the word to insert: four

there are four buses

In [12]:
# 11. Count the occurrences of a word in a string.
st_occ = list(input("Enter a phrase:").split(" "))
st_occ_1 = input("Word to search:")
count = 0
for i in range(0, len(st_occ)):
    if st_occ_1 == st_occ[i]:
        count += 1
print("Count of ther word '{}' in the phrase is :".format(st_occ_1), count)

Enter a phrase: Find the first occurrence of a word in a string.
Word to search: a

Count of ther word 'a' in the phrase is : 2

In [16]:
# 12. Find the first occurrence of a word in a string.
st_a = input("Enter a phrase:")
first_w = input("Word to search:")

print("First occurance of the word '{}' is at the index:".format(first_w), st_a.find(first_w))

Enter a phrase: there are more than five kids who are good at maths
Word to search: are

First occurance of the word 'are' is at the index: 6

In [18]:
# 13. Find the last occurrence of a word in a string.
st_b = input("Enter a phrase:")
last_w = input("Word to search:")

print("last occurance of the word '{}' is at the index:".format(last_w), st_b.rfind(last_w))

Enter a phrase: there are more than five kids who are good at maths
Word to search: are

last occurance of the word 'are' is at the index: 34

In [20]:
# 14. Split a string into a list of words.
st_c = list(input("Enter a phrase:").split(" "))
print(st_c)

Enter a phrase: there are kids

['there', 'are', 'kids']

In [23]:
# 15. Join a list of words into a string.
list_words = ["Kids", "are", "playing", "in","the","park."]
print(" ".join(list_words))

Kids are playing in the park.

In [1]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.
st_space = input("Enter a phrase:")
st_uscore = st_space.replace(" ", "_")
print(st_uscore)

Enter a phrase: there are bears and wolves

there_are_bears_and_wolves

In [3]:
# 17. Check if a string starts with a specific word or phrase.
st_s_check = input("Enter a phrase:")
st_w_check = input("Enter the word to be checked:")
if st_s_check.startswith(st_w_check):
    print("Yes the phrase starts with '{}'".format(st_w_check))
else:
    print("No the phrase does not starts with '{}'".format(st_w_check))

Enter a phrase: balloons are high up in the sky
Enter the word to be checked: balloon

Yes the phrase starts with 'balloon'

In [5]:
# 18. Check if a string ends with a specific word or phrase.
st_s_check = input("Enter a phrase:")
st_w_check = input("Enter the word to be checked:")
if st_s_check.endswith(st_w_check):
    print("Yes the phrase ends with '{}'".format(st_w_check))
else:
    print("No the phrase does not endds with '{}'".format(st_w_check))

Enter a phrase: cycle helmet books
Enter the word to be checked: helmet

No the phrase does not endds with 'helmet'

In [6]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
st_normal = input("Enter a phrase:")
st_title = print(st_normal.title())

Enter a phrase: three hundred

Three Hundred

In [10]:
# 20. Find the longest word in a string.
st_string = sorted(list(input("Enter a phrase:").split(" ")))
st_longest = max(st_string, key = len)
print(st_longest)

Enter a phrase: barbarous magnificent articulative departmentalize

departmentalize

In [13]:
# 21. Find the shortest word in a string.
st_string1 = sorted(list(input("Enter a phrase:").split(" ")))
st_shortest = min(st_string1, key = len)
print(st_shortest)

Enter a phrase: art is not for everyone

is

In [19]:
# 22. Reverse the order of words in a string.
st_st1 = (input("Enter a phrase:").split(" "))
st_rev = st_st1[::-1]
print(" ".join(st_rev))

Enter a phrase: three and four

four and three

In [31]:
# 23. Check if a string is alphanumeric.
st_aln = input("Enter the phrase:")
if (st_aln.isalnum()) == True:
    print("Yes the string is alphanumeric")
else:
    print("No the string is not alphanumeric")

Enter the phrase: string_123

No the string is not alphanumeric

In [42]:
# 24. Extract all digits from a string.
st_dig = input("Enter the phrase:")
l_dig = []
i = 0
for i in st_dig:
    if i.isdigit() == True:
        l_dig.append(int(i))
print(l_dig)

Enter the phrase: three3four4

[3, 4]

In [1]:
# 25. Extract all alphabets from a string.
st_alp = input("Enter the phrase:")
l_alp = []
i = 0
for i in st_alp:
    if i.isalpha() == True:
        l_alp.append(i)
print(l_alp)

Enter the phrase: thre3are4

['t', 'h', 'r', 'e', 'a', 'r', 'e']

In [5]:
# 26. Count the number of uppercase letters in a string.
st_upper = input("Enter the phrase:")
count = 0
for i in st_upper:
    if i.isupper() == True:
        count += 1
print("Number of uppercase letters in the string:", count)

Enter the phrase: Three FOur Five

Number of uppercase letters in the string: 4

In [7]:
# 27. Count the number of lowercase letters in a string.
st_lower = input("Enter the phrase:")
count = 0
for i in st_lower:
    if i.islower() == True:
        count += 1
print("Number of lowercase letters in the string:", count)

Enter the phrase: One Hundred

Number of lowercase letters in the string: 8

In [11]:
# 28. Swap the case of each character in a string.
st_swap = input("Enter the phrase:")
print(st_swap.swapcase())

Enter the phrase: Three

tHREE

In [13]:
# 29. Remove a specific word from a string.
st_rem_wrd = input("Enter the phrase:")
rem_wrd = input("Enter the word to be removed:")
print(st_rem_wrd.replace(rem_wrd+" ", ""))

Enter the phrase: There are many cases in this city
Enter the word to be removed: many

There are cases in this city

In [21]:
# 30. Check if a string is a valid email address.
st_email = input("Enter your email ID:")
special_characters = "<>,?/\"'|\+:;"
for i in st_email:
    if i in special_characters:
        print("Please remove '{}' and trry again.".format(special_characters))
if "@" in st_email:
    e_mail = st_email.split("@")
    if "." in e_mail[1]:
        point = e_mail[1].split(".")
        if st_email == (e_mail[0]+"@"+point[0]+"."+point[1]):
            print("This is a valid email id.")
        else:
            print("invalid email id.")
    else:
        print("invalid email id.")
else:
    print("invalid email id.")

Enter your email ID: shushant@gmail@com

invalid

In [40]:
# 31. Extract the username from an email address string.
email_id = input("Enter the email id:")
special_character = "<>,?/\"'|\+:;"
for i in email_id:
    if i in special_character:
        print("Please remove '{}' and trry again.".format(special_character))
if "@" in email_id:
    e_mail_user = email_id.split("@")
    print("the username is:",e_mail_user[0])

Enter the email id: sahil07@gmail.com

the username is: sahil07

In [42]:
# 32. Extract the domain name from an email address string.
email_ID = input("Enter the email id:")
specials = "<>,?/\"'|\+:;"
for i in email_ID:
    if i in specials:
        print("Please remove '{}' and trry again.".format(specials))
if "@" in email_ID:
    e_mail_domain = email_ID.split("@")
    print("the domain name is:", e_mail_user[1])

Enter the email id: sahil07@gmail.com

the domain name is: gmail.com

In [43]:
# 33. Replace multiple spaces in a string with a single space.
st_ms = input("Enter the phrase:")
st_ms = " ".join(st_ms.split())
st_ms

Enter the phrase: there     are com

'there are com'

In [17]:
# 34. Check if a string is a valid URL.

# Exhaused after brainstorming for this code as I am just a beginner! Be kind! :-)
st_url = input("Enter the url:")
if " " in st_url:
    print("The URL is invalid")
elif "://" in st_url:
    protocol = (st_url.split("://"))
    if protocol[0] in ("http", "https"):
        if "." in protocol[1]:
            valid_hostname_part = re.compile(r'^[a-zA-Z0-9_-]+$')
            for part in protocol[1]:
                if not valid_hostname_part.match(part):
                    break
                else:
                    hostname = (protocol[1].split("."))
            if len(hostname) == 2:
                if "www" or "ww" in hostname[0]:
                    print("The URL is invalid")
                elif hostname[1] == "com":
                    if st_url == f"{protocol[0]}://{hostname[0]}.{hostname[1]}":
                        print("The URL is valid")
                    else:
                        print("The URL is invalid")
                else:
                    print("The URL is invalid")
            elif len(hostname) == 3:
                if st_url == f"{protocol[0]}://{hostname[0]}.{hostname[1]}.{hostname[2]}":
                    print("The URL is valid")
                else:
                    print("The URL is invalid")
            else:
                print("The URL is invalid")
        else:
            print("The URL is invalid")
    else:
        print("The URL is invalid")
else:
    print("The URL is invalid")
    

## This is how much I can do for now!!   ;-)

Enter the url: http://www.sas.com

The URL is valid

In [21]:
# 35. Extract the protocol (http or https) from a URL string.
st_URL = input("Enter the url:")
if "://" in st_URL:
    protocol_URL = (st_URL.split("://"))
    if protocol_URL[0] == "http" or protocol_URL[0] == "https":
        print("The protocol for this url is:'{}'".format(protocol_URL[0]))
    else:
        print("Enter valid url")

Enter the url: https://www.sas.com

The protocol for this url is:'https'

In [24]:
# 36. Find the frequency of each character in a string.
st_fre = input()
a = st_fre.replace(" ","")
list_5 = {}
for i in a:
    if i in list_5:
        list_5[i] += 1
    else:
        list_5[i] = 1
print("Count of all characters in st_2 is :\n "+ str(list_5))

 three three

Count of all characters in st_2 is :
 {'t': 2, 'h': 2, 'r': 2, 'e': 4}

In [18]:
# 37. Remove all punctuation from a string.
st_pun = input()
punct = "!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"
a=[]
for i in st_pun:
    if i not in punct:
        a.append(i)
print("".join(a))

 a<s,D.d>a?A/s's"d;D:a]s[A{S}d\D|a!s@d#

asDdaAssdDasASdDasd

In [23]:
# 38. Check if a string contains only digits.
in_dig = input("Enter the phrase:")
if in_dig.isdigit() == True:
    print("Yes. The input string only contains digits.")
else:
    print("No. The input string does not only contains digits.")

Enter the phrase: 123

Yes. The input string only contains digits.

In [25]:
# 39. Check if a string contains only alphabets.
in_alp = input("Enter the phrase:")
if in_alp.isalpha() == True:
    print("Yes. The input string only contain alphabets.")
else:
    print("No. The input string does not only contain alphabets.")

Enter the phrase: asd

Yes. The input string only contain alphabets.

In [31]:
# 40. Convert a string to a list of characters.
st_l = input("Enter the phrase:")
print(list(st_l.replace(" ","")))

Enter the phrase: there are three

['t', 'h', 'e', 'r', 'e', 'a', 'r', 'e', 't', 'h', 'r', 'e', 'e']

In [43]:
# 41. Check if two strings are anagrams.
st_ana = input()
st_gram = input()

if (sorted(st_ana) == sorted(st_gram)) :
    print("Yes both strings are anagrams")
else:
    print("No both strings are not anagrams")

 there
 three

Yes both strings are anagrams

In [60]:
# 42. Encode a string using a Caesar cipher.
def encrypt_fun(text, shift):
    password = ""
    
    for i in range(len(text)):
        char = text[i]
        if (char.isupper()):  
            password += chr((ord(char) + shift - 65) % 26 + 65)  
        else:  
            password += chr((ord(char) + shift - 97) % 26 + 97)
    return password 
        
        
text = input("Enter the phrase:")
shift = int(input("Enter the shift required:"))

print("Plain txt : " + text)  
print("Shift pattern : " + str(shift))  
print("Cipher: " + encrypt_fun(text, shift))

Enter the phrase: mon
Enter the shift required: 1

Plain txt : mon
Shift pattern : 1
Cipher: npo

In [61]:
# 43. Decode a Caesar cipher encoded string.
def decrypt_func(text, shift):
    pass_word = ""
    
    for i in range(len(text)):
        char = text[i]
        if (char.isupper()):
            pass_word += chr((ord(char) - shift - 65) % 26 + 65)
        else:
            pass_word += chr((ord(char) - shift - 97) % 26 + 97)
    return pass_word

text = input("Enter text :")  
shift = int(input("Enter Shift: "))
print("Plain txt : " + text)  
print("Shift pattern : " + str(shift))  
print("Cipher: " + decrypt_func(text, shift))

Enter text : npo
Enter Shift:  1

Plain txt : npo
Shift pattern : 1
Cipher: mon

In [74]:
# 44. Find the most frequent word in a string.
st_fre_wrd = input("Enter the phrase:")
list_st = st_fre_wrd.split(" ")
list_c = {}
count = 0
for i in list_st:
    if i in list_c:
        list_c[i] += 1
    else:
        list_c[i] =1
print("Most frequent word in the input string is: '{}'".format(max(list_c, key=list_c.get)))

Enter the phrase: this is hte first time that this type of things in this city is taking place at this time

Most frequent word in the input string is: 'this'

In [76]:
# 45. Find all unique words in a string.
st_unique = input("Enter the phrase:")
unique = list(st_unique.split(" "))
print("List of unique words in the input phrase is:",set(unique), end = "")

Enter the phrase: this is hte first time that this type of things in this city is taking place at this time

List of unique words in the input phrase is: {'first', 'is', 'place', 'in', 'things', 'city', 'of', 'time', 'hte', 'this', 'that', 'type', 'at', 'taking'}

In [80]:
# 46. Count the number of syllables in a string.
st_syll = input("Enter the phrase:")
l_syll = []
for i in st_syll:
    if i.isalnum() == True:
        l_syll.append(i)
print("Number of syllables in the input phrase are:",len(l_syll))

Enter the phrase: there are 8 kids

Number of syllables in the input phrase are: 13

In [90]:
# 47. Check if a string contains any special characters.
st_spc = input("Enter the phrase:")
st_spc.split()
spc = "!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"
c = 0
for i in range(len(st_spc)):
    if st_spc[i] in spc:
        c += 1
if c > 0:
    print("Yes there is a special character in the input string.")
else:
    print("No there is no special character in the input string.")

Enter the phrase: there!

Yes there is a special character in the input string.

In [101]:
# 48. Remove the nth word from a string.
string_n = input("Enter the phrase")
nt = string_n.split(" ")
nth = int(input("Enter the number of word to be removed:"))
nt_r = nt.remove(nt[nth-1])
print(" ".join(nt))

Enter the phrase the face is cute
Enter the number of word to be removed: 1

face is cute

In [106]:
# 49. Insert a word at the nth position in a string.
string_add = input("Enter the phrase:")
add_nt = string_add.split(" ")
add_word = input("Enter the word to be added:")
add_nth = int(input("At which position it is to be inserted? :"))
add_ntr = add_nt.insert((add_nth-1), add_word)
print(" ".join(add_nt))

Enter the phrase there is apple
Enter the word to be added: an
At which position it is to be inserted? : 3

there is an apple

In [113]:
# 50. Convert a CSV string to a list of lists.
import pandas as pd
  
# Creating Dictionary
dict = {
    'series': ['TBBT', 'Peaky blinders', 'Witcher'],
    'episodes': [278, 36, 50],
    'actors': ['Jim Parson', 'Cillian Murphy', 'Henry Cavill']
}
  
# Creating Dataframe
df = pd.DataFrame(dict)
print(df)

           series  episodes          actors
0            TBBT       278      Jim Parson
1  Peaky blinders        36  Cillian Murphy
2         Witcher        50    Henry Cavill

# 2. List Based Practice Problem

In [4]:
# 1. Create a list with integers from 1 to 10.
l = list(range(1,11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
# 2. Find the length of a list without using the `len()` function.
l1 = list(range(1,11))
count = 0
for i in l1:
    count += 1
print("The length of the list is:", count)

The length of the list is: 10

In [13]:
# 3. Append an element to the end of a list.
l2 = [1,2,3,4,5]
l2.append(6)
l2

[1, 2, 3, 4, 5, 6]

In [14]:
# 4. Insert an element at a specific index in a list.
l3 = [1,2,4,5]
l3.insert(2,3)
l3

[1, 2, 3, 4, 5]

In [16]:
# 5. Remove an element from a list by its value.
l4 = [1,2,3,4,5,6,11,7,8,9,10]
l4.remove(11)
l4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
# 6. Remove an element from a list by its index.
l5 = [1,2,3,4,5,6,7,8,8,9,10]
l5.pop(8)
l5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# 7. Check if an element exists in a list.
l6 = [1,2,3,4,5,6,7,8,9,10]
el = int(input("Enter the element:"))
if el in l6:
    print("Yes the element exist in the list.")
else:
    print("No the element does not exist in the list.")

Enter the element: 5

Yes the element exist in the list.

In [25]:
# 8. Find the index of the first occurrence of an element in a list.
l7 = [1,2,3,4,5,5,6,7,8,5]
ele = int(input("Enter the element:"))
print(l7.index(ele))

Enter the element: 5

4

In [30]:
# 9. Count the occurrences of an element in a list.
l8 = [1,2,3,4,3,2,3,4,5,6,7,8,8,8,8,6,5,4,3,3,3,2,5,3,4,5,6,3]
elm = int(input("Element to search:"))
count = 0
for i in l8:
    if elm == i:
        count += 1
print("Total number of occurance of the element '{}' is:".format(elm), count)

Element to search: 2

Total number of occurance of the element '2' is: 3

In [33]:
# 10. Reverse the order of elements in a list.
l9 = [1,2,3,4,5,5,4,3,2,5,6,7,8,9,10]
print("reverse list: ", l9[::-1])

reverse list:  [10, 9, 8, 7, 6, 5, 2, 3, 4, 5, 5, 4, 3, 2, 1]

In [37]:
# 11. Sort a list in ascending order.
l10 = [3,6,5,2,4,1,7,9,8]
l10.sort()
print(l10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# 12. Sort a list in descending order.
l11 = [12,32,54,76,89,27,64]
l11.sort()
print(l11[::-1])

[89, 76, 64, 54, 32, 27, 12]

In [42]:
# 13. Create a list of even numbers from 1 to 20.
l12 = list(range(1,21))
l13 = []
for i in l12:
    if i%2==0:
        l13.append(i)
print(l13)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
# 14. Create a list of odd numbers from 1 to 20.
l14 = list(range(1,21))
l15 = []
for i in l14:
    if i%2!=0:
        l15.append(i)
print(l15)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [45]:
# 15. Find the sum of all elements in a list.
l16 = [1,3,65,3,4,56,23]
sum_ele = 0
for i in l16:
    sum_ele = i+sum_ele
print(sum_ele)

155

In [60]:
# 16. Find the maximum value in a list.
l17 = [24,65,278,756,2441,3331]
l17.sort()
print(l17[-1])

3331

In [62]:
# 17. Find the minimum value in a list.
l18 = [1,-244,65,278,756,2441,31]
l18.sort()
print(l18[0])

-244

In [63]:
# 18. Create a list of squares of numbers from 1 to 10.
l19 = list(range(1,11))
l_sq = []
for i in l19:
    l_sq.append(i**2)
print(l_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
# 19. Create a list of random numbers.
import random
res = random.sample(range(1, 5000), 10)
print ("Random number list is : " +  str(res))

Random number list is : [2101, 336, 525, 4522, 4458, 2529, 1581, 4720, 1193, 2178]

In [70]:
# 20. Remove duplicates from a list.
l20 = [1,2,3,3,2,2,2,3,4,5,6,7,7,7,76,5,54,56,67,7,5,4,4,3]
print(list(set(l20)))

[1, 2, 3, 4, 5, 6, 7, 67, 76, 54, 56]

In [73]:
# 21. Find the common elements between two lists.
l21 = [1,2,3,4,5,8]
l22 = [4,5,6,7,8,1]
l23 = []
for i in l21:
    if i in l22:
        l23.append(i)
print(l23)

[1, 4, 5, 8]

In [81]:
# 22. Find the difference between two lists.
l24 = [1,2,3,4,5,8]
l25 = [4,5,6,7,8,9]
l26 = [i for i in l24 if i not in l25]
l26.extend(i for i in l25 if i not in l24)
print(l26)

[1, 2, 3, 6, 7, 9]

In [86]:
# 23. Merge two lists.
l27 = [1,2,3,4]
l28 = [5,6,7,8]
l27.extend(l28)
print("Merged list:", l27)

Merged list: [1, 2, 3, 4, 5, 6, 7, 8]

In [87]:
# 24. Multiply all elements in a list by 2.
l29 = [1,2,3,4,5]
l_multi = []
for i in l29:
    l_multi.append(i*2)
print(l_multi)

[2, 4, 6, 8, 10]

In [88]:
# 25. Filter out all even numbers from a list.
l30 = [1,2,3,4,5,6,7,8,9,10]
even_list = [i for i in l30 if i%2 == 0]
even_list

[2, 4, 6, 8, 10]

In [90]:
# 26. Convert a list of strings to a list of integers.
l31 = ["-3","23","5","9","6"]
l_int = [eval(i) for i in l31]
l_int

[-3, 23, 5, 9, 6]

In [96]:
# 27. Convert a list of integers to a list of strings.
l32 = [1,2,3,4,5]
l_string = map(str, l32)
print(list(l_string))

['1', '2', '3', '4', '5']

In [126]:
# 28. Flatten a nested list.
l33 = [[1,2,3],[4,5,6],[7,8,9],[10,[11,12]]]
output = []
def remove_nestings(l):
    for i in l:
        if type(i) == list:
            remove_nestings(i)
        else:
            output.append(i)
    return output
remove_nestings(l33)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [70]:
# 29. Create a list of the first 10 Fibonacci numbers.
fibonacci_list = []
a, b = 0, 1
for i in range((10)+1):
    fibonacci_list.append(a)
    a, b = b, a + b
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [152]:
# 30. Check if a list is sorted.
l34 = [1,2,3,4,5,1]
if l34 == sorted(l34):
    print("Yes the list is sorted")
else:
    print("No the list is not sorted")
print(l34)

No the list is not sorted
[1, 2, 3, 4, 5, 1]

In [160]:
# 31. Rotate a list to the left by `n` positions.
l_r = [1,2,3,4,5]
n = int(input("Enter the shift:"))
l_rotate = l_r[n:]+l_r[:n]
l_rotate

Enter the shift: 3

[4, 5, 1, 2, 3]

In [162]:
# 32. Rotate a list to the right by `n` positions.
l_ro = [1,2,3,4,5]
n = int(input("Enter the shift:"))
l_rot = l_r[-n:]+l_r[:-n]
l_rot

Enter the shift: 3

[3, 4, 5, 1, 2]

In [165]:
# 33. Create a list of prime numbers up to 50.
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list
prime(1,51)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [168]:
# 34. Split a list into chunks of size `n`.
l_full = [1,2,3,4,5,6,7,8,9]
start = 0
end = len(l_full)
step = int(input("Enter step:"))
for i in range(start, end, step):
    x = i
    print(l_full[x:x+step])

Enter step: 3

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [170]:
# 35. Find the second largest number in a list.
l35 = [1,2,3,44,5]
l35.sort()
print("Second largest number in the list is: ",l35[-2])

Second largest number in the list is:  5

In [196]:
# 36. Replace every element in a list with its square.
def square_list(list1):
    for i in range(len(list1)):
        list1[i] = list1[i]**2
    print(list1)

l36 = [1,2,3,4,5,9]
square_list(l36)

[1, 4, 9, 16, 25, 81]

In [26]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
def dict_l(x):
    dic_l = {}
    for i in range(len(x)):
        dic_l[i] = x[i]
    return dic_l
x = [1,3,6,7,9,2]
dict_l(x)

{0: 1, 1: 3, 2: 6, 3: 7, 4: 9, 5: 2}

In [33]:
# 38. Shuffle the elements of a list randomly.
import random
 
my_list = [1,2,3,4,5,6,7,8,9,10]
 
shuffled_list = sorted(my_list, key = lambda x: random.random())
 
print("Original list:", my_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Shuffled list: [3, 10, 7, 9, 8, 4, 2, 5, 6, 1]

In [37]:
# 39. Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0:
        return 1
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

factorial_numbers = [factorial(n) for n in range(1, 11)]
print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [71]:
# 40. Check if two lists have at least one element in common.
l37 = [1,2,3,4,5]
l38 = [6,7,8,1]
result = False
for i in l37:
    if i in l38:
        result = True
for i in l38:
    if i in l37:
        result =  True
if result == True:
    print("Yes there are common elements in these lists.")
else:
    print("No there are no common elements in these lists.")

Yes there are common elements in these lists.

In [72]:
# 41. Remove all elements from a list.
l39 = [1,2,3,4,5]
l39.clear()
l39

[]

In [77]:
# 42. Replace negative numbers in a list with 0.
l40 = [10,-20,30,-40,50,-60]
for i in range(len(l40)):
    if l40[i]<0:
        l40[i] = 0
print(l40)

[10, 0, 30, 0, 50, 0]

In [79]:
# 43. Convert a string into a list of words.
string_wrd = "These cats are so furry."
lst_wrd = list(string_wrd.split(" "))
lst_wrd

['These', 'cats', 'are', 'so', 'furry.']

In [81]:
# 44. Convert a list of words into a string.
lst_word = ['These', 'cats', 'are', 'so', 'furry.']
string_word = " ".join(lst_word)
string_word

'These cats are so furry.'

In [87]:
# 45. Create a list of the first `n` powers of 2.
def lis_n(n):
    list_n =[]
    for i in range(0, n+1):
        list_n.append(2**i)
    return list_n
number_power = int(input("Enter the power:"))
lis_n(number_power)

Enter the power: 8

[1, 2, 4, 8, 16, 32, 64, 128, 256]

In [4]:
# 46. Find the longest string in a list of strings.
l_long = ["This","is","most","recent"]
r = max(l_long, key =len)
print("The longest string in the list is: ", r)

The longest string in the list is:  recent

In [5]:
# 47. Find the shortest string in a list of strings.
l_short = ["This","is","most","recent"]
r = min(l_short, key =len)
print("The shortest string in the list is: ", r)

The shortest string in the list is:  is

In [14]:
# 48. Create a list of the first `n` triangular numbers.

def triangular_series( n ):
    for i in range(1, n + 1):
         print( i*(i+1)//2,end=' ')
n = int(input("Enter the number:"))
triangular_series(n)

Enter the number: 5

1 3 6 10 15

In [38]:
# 49. Check if a list contains another list as a subsequence.
list_sub = [1,2,3,[4,5,6],7,8,9]
for i in list_sub:
    if type(i)==list:
        print("The list contains a another list as a subsequence")

The list contains a another list as a subsequence

In [42]:
# 50. Swap two elements in a list by their indices.

def swap(l_swap, l_1_index, l_2_index):
    l_swap[l_1_index], l_swap[l_2_index] = l_swap[l_2_index], l_swap[l_1_index]
    return l_swap
l_swap = [1,2,3,4,5,6]
l_1_index = int(input("Enter first idex:"))
l_2_index = int(input("Enter second idex:"))
swap(l_swap, l_1_index, l_2_index)

Enter first idex: 0
Enter second idex: 4

[5, 2, 3, 4, 1, 6]

# 3. Tuple Based Practice Problem

In [43]:
# 1. Create a tuple with integers from 1 to 5.
t1 = tuple(range(1,6))
t1

(1, 2, 3, 4, 5)

In [46]:
# 2. Access the third element of a tuple.
t2 = (1,2,3,4,5,6)
print("Third element in tuple is: ", t2[2])

Third element in tuple is:  3

In [3]:
# 3. Find the length of a tuple without using the `len()` function.
t_length = (1,2,3,4,5)
length = 0
for i in t_length:
    length += 1
print(length)

5

In [10]:
# 4. Count the occurrences of an element in a tuple.
t_occ = (1,2,3,2,3,22,2,2,24,5,6,4,2,2)
occurence = int(input("Enter the number: "))
print("Number of occurence for '{}' in tuple is:".format(occurence),t_occ.count(occurence))

Enter the number:  2

Number of occurence for '2' in tuple is: 6

In [16]:
# 5. Find the index of the first occurrence of an element in a tuple.
t_ind = (1,2,2,3,4,5,7,2,9,3,4,7,5,9,8)
num_ind = int(input("Enter the element:"))
print(f"First occurence of element '{num_ind}' in tuple is: ", t_ind.index(num_ind))

Enter the element: 7

First occurence of element '7' in tuple is:  6

In [23]:
# 6. Check if an element exists in a tuple.
t3 = (1,2,3,4,5)
fin_ele = int(input("Enter the element to find:"))
if fin_ele in t3:
    print("The element exists in the tuple.")
else:
    print("The element does not exist in the tuple.")

Enter the element to find: 6

The element does not exist in the tuple.

In [24]:
# 7. Convert a tuple to a list.
t4 = (1,2,3,4,5)
print(list(t4))

[1, 2, 3, 4, 5]

In [25]:
# 8. Convert a list to a tuple.
l_tup = [1, 2, 3, 4, 5]
print(tuple(l_tup))

(1, 2, 3, 4, 5)

In [32]:
# 9. Unpack the elements of a tuple into variables.
university = ("GTU", 50 ,5000)
(Name, Colleges_affiliated, Number_of_students) = university
print(Name)
print(Colleges_affiliated)
print(Number_of_students)

GTU
50
5000

In [35]:
# 10. Create a tuple of even numbers from 1 to 10.
t5 = tuple(i for i in range(1,11) if i%2 == 0)
print(t5)

(2, 4, 6, 8, 10)

In [36]:
# 11. Create a tuple of odd numbers from 1 to 10.
t6 = tuple(i for i in range(1,11) if i%2 != 0)
print(t6)

(1, 3, 5, 7, 9)

In [39]:
# 12. Concatenate two tuples.
t7 = (1,2,3)
t8 = (4,5)
print("Concatenated tuple is:", t7+t8)

Concatenated tuple is: (1, 2, 3, 4, 5)

In [44]:
# 13. Repeat a tuple three times.
t9 = (10,20,30)
triple_tuple = ((t9, )*3)
print(triple_tuple)

((10, 20, 30), (10, 20, 30), (10, 20, 30))

In [9]:
# 14. Check if a tuple is empty.
t10 = ()
if len(t10) == 0:
    print("list is empty")
else:
    print("List has elements in it.")

list is empty

In [12]:
# 15. Create a nested tuple.
t11 = (1,2,3)
t12 = (4,5)
print((t11)+(t12,))

(1, 2, 3, (4, 5))

In [16]:
# 16. Access the first element of a nested tuple.
t13 = (1,2,3)
t14 = (4,5)
t15 = ((t11,)+(t12,))
print(t15[0])

(1, 2, 3)

In [18]:
# 17. Create a tuple with a single element.
t16 = (1,)
type(t16)

tuple

In [2]:
# 18. Compare two tuples.
t17 = (1,2,3)
t18 = (4,1,6)
res = all(x < y for x, y in zip(t17, t18))
print("Are all elements in second tuple greater than first ? : " + str(res))

Are all elements in second tuple greater than first ? : False

In [8]:
# 19. Delete a tuple.
t19 = (5,6,7,8,9)
del(t19)
print(t19)

NameError: name 't19' is not defined

In [13]:
# 20. Slice a tuple.
t20 = (3,4,5,6,7,8,9)
print(t20[2:5])

(5, 6, 7)

In [15]:
# 21. Find the maximum value in a tuple.
t21 = (5,8,7,9,3,5,6,8,1)
print("The maximum value element in tuple is: ",max(t21))

The maximum value element in tuple is:  9

In [16]:
# 22. Find the minimum value in a tuple.
t22 = (6,6,7,98,2,3,4,6,9,1,4,9,5)
print("The minimum value element in tuple is: ", min(t21))

The minimum value element in tuple is:  1

In [17]:
# 23. Convert a string to a tuple of characters.
string_t ="THREE"
print(tuple(string_t))

('T', 'H', 'R', 'E', 'E')

In [19]:
# 24. Convert a tuple of characters to a string.
tuple_s = ("F","O","U","R")
print("".join(tuple_s))

FOUR

In [20]:
# 25. Create a tuple from multiple data types.
t23 = (1, 2.3, 2+3j, True, "What?")
print(t23)

(1, 2.3, (2+3j), True, 'What?')

In [25]:
# 26. Check if two tuples are identical.
t24 = (1,2,3)
t25 = (1,2,3)
res = all(x == y for x, y in zip(t24, t25))
print("Are Both the tuples compared are identical ? : " + str(res))

Are Both the tuples compared are identical ? : True

In [28]:
# 27. Sort the elements of a tuple.
t26 = (6,4,9,85,6,7,8,43,1,2,6,4,5,9)
print("Sorted tuple:",sorted(t26))

Sorted tuple: [1, 2, 4, 4, 5, 6, 6, 6, 7, 8, 9, 9, 43, 85]

In [31]:
# 28. Convert a tuple of integers to a tuple of strings.
t27 = (1,2,3)
S_t = tuple(str(elements) for elements in t27)
print(S_t)

('1', '2', '3')

In [33]:
# 29. Convert a tuple of strings to a tuple of integers.
t28 = ("4","5","6")
T_s = tuple(eval(i) for i in t28)
print(T_s)

(4, 5, 6)

In [34]:
# 30. Merge two tuples.
t29 = (61,82,53)
t30 = (45,16,79)
t31 = t29 + t30
print(t31)

(61, 82, 53, 45, 16, 79)

In [63]:
# 31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [43]:
# 32. Create a tuple of the first 5 prime numbers.
def t_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5)+1):
        if n%i ==0:
            return False
    return True
count = 0
n = 2
first_5_prime = ()
while count < 5:
    if t_prime(n):
        first_5_prime += (n,)
        count += 1
    n += 1
print(first_5_prime)

(2, 3, 5, 7, 11)

In [48]:
# 33. Check if a tuple is a palindrome.
t32 = (1,2,3,2,1)
if t32 == t32[::-1]:
    print("The tuple is a pallindrome.")
else:
    print("The tuple is not a pallindrome.")

The tuple is a pallindrome.

In [50]:
# 34. Create a tuple of squares of numbers from 1 to 5.
l_sq = [i**2 for i in range(1,6)]
t_sq = tuple(l_sq)
print(t_sq)

(1, 4, 9, 16, 25)

In [54]:
# 35. Filter out all even numbers from a tuple.
t33 = (1,2,3,4,5,6,7,8,9)
t_even = tuple(i for i in t33 if i%2==0)
print("Even numbers in tuples are:", t_even)

Even numbers in tuples are: (2, 4, 6, 8)

In [56]:
# 36. Multiply all elements in a tuple by 2.
t34 = (10,20,30,40)
t_m = tuple(i*2 for i in t34)
print(t_m)

(20, 40, 60, 80)

In [58]:
# 37. Create a tuple of random numbers.
import random

t_random = tuple(random.randint(1, 100) for i in range(5))

print(t_random)

(89, 38, 74, 26, 63)

In [66]:
# 38. Check if a tuple is sorted.

t35 = (1,6,3,4,5)
if t35 == tuple(sorted(t35)):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")
print(t35)
print(tuple(sorted(t35)))

The tuple is not sorted.
(1, 6, 3, 4, 5)
(1, 3, 4, 5, 6)

In [68]:
# 39. Rotate a tuple to the left by `n` positions.
t36 = (3,4,5,6,7)
shift_t = int(input("Enter the shift:"))
t_shift = tuple(t36[shift_t:] + t36[:shift_t])
print(t_shift)

Enter the shift: 3

(6, 7, 3, 4, 5)

In [69]:
# 40. Rotate a tuple to the right by `n` positions.
t37 = (3,4,5,6,7)
shift_t = int(input("Enter the shift:"))
t_shift = tuple(t36[-shift_t:] + t36[:-shift_t])
print(t_shift)

Enter the shift: 3

(5, 6, 7, 3, 4)

In [29]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def fibb(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        nxt = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(nxt)
    return tuple(fibonacci)

fib_tuple = fibb(5)
print(fib_tuple)

(0, 1, 1, 2, 3)

In [2]:
# 42. Create a tuple from user input.
in_tu = tuple(input("Enter the elements:").split(","))
print(in_tu)

Enter the elements: 1,2,3

('1', '2', '3')

In [5]:
# 43. Swap two elements in a tuple.
t_swap = (1,2,3,4,5)
l_swap = list(t_swap)
l_swap[1], l_swap[2] = l_swap[2], l_swap[1]
print(tuple(l_swap))

(1, 3, 2, 4, 5)

In [8]:
# 44. Reverse the elements of a tuple.
t_rev = (1,2,3,4,5)
l_rev = list(t_rev)
print("Reversed tuple:", tuple(l_rev[::-1]))

Reversed tuple: (5, 4, 3, 2, 1)

In [11]:
# 45. Create a tuple of the first `n` powers of 2.
n = int(input("Enter the number:"))
t_npower = tuple(2**n for n in range(0,n+1))
print(t_npower)

Enter the number: 4

(1, 2, 4, 8, 16)

In [18]:
# 46. Find the longest string in a tuple of strings.
t_lo = ("School","Business","Truck","Fundamental")
index = t_lo.index(max(t_lo, key = len))
print("longest tuple element is:", t_lo[index])

longest tuple element is: Fundamental

In [19]:
# 47. Find the shortest string in a tuple of strings.
t_sho = ("School","Business","Truck","Fundamental")
index = t_sho.index(min(t_sho, key = len))
print("Shortest tuple element is:", t_sho[index])

Shortest tuple element is: Truck

In [23]:
# 48. Create a tuple of the first `n` triangular numbers.
nt_tri = int(input("Enter the number:"))
tuple_tri = tuple((i*(i+1)//2) for i in range(1, nt_tri+1))
print("First 3 triangular numbers are:",tuple_tri)

Enter the number: 3

First 3 triangular numbers are: (1, 3, 6)

In [5]:
# 49. Check if a tuple contains another tuple as a subsequence.
tup_nest = (1,2,3,(4,5,6),7,8,9)
c = 0
for i in tup_nest:
    if type(i)==tuple:
        c += 1
if c>0:
    print("The list contains a another list as a subsequence")
else:
    print("The list does not contain a another list as a subsequence")

The list does not contain a another list as a subsequence

In [6]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = int(input("Enter the number: "))
alter_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alter_tuple)

Enter the number:  10

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# 4. Set Based Practice Problem :

In [9]:
# 1. Create a set with integers from 1 to 5.
print("set with integers from 1 to 5 is:",set(i for i in range(1,6)))

set with integers from 1 to 5 is: {1, 2, 3, 4, 5}

In [11]:
# 2. Add an element to a set.
set1 = {1,2,3}
set1.add(4)
print(set1)

{1, 2, 3, 4}

In [12]:
# 3. Remove an element from a set.
set2 = {4,5,6,7,8,9}
set2.remove(7)
print(set2)

{4, 5, 6, 8, 9}

In [15]:
# 4. Check if an element exists in a set.
set3 = {1,2,3,4,5,6}
ele = int(input("Enter the element to be searched:"))
if ele in set3:
    print("The element exists in the set.")
else:
    print("The element does not exist in the set.")

Enter the element to be searched: 8

The element does not exist in the set.

In [18]:
# 5. Find the length of a set without using the `len()` function.
set4 = {1,2,3,4}
count = 0
for i in set4:
    count += 1
print("Length of the set is:", count)

Length of the set is: 4

In [19]:
# 6. Clear all elements from a set.
set5 = {1,2,3}
set5.clear()
print(set5)

set()

In [4]:
# 7. Create a set of even numbers from 1 to 10.
s1 = set(i for i in range(1, 11) if i%2 == 0)
print(s1)

{2, 4, 6, 8, 10}

In [5]:
# 8. Create a set of odd numbers from 1 to 10.
s2 = set(i for i in range(1, 11) if i%2 != 0)
print(s2)

{1, 3, 5, 7, 9}

In [7]:
#  9. Find the union of two sets.

a_set = {1,2,3,4,5}
b_set = {4,5,6,2,7}
print("A U B :", a_set.union(b_set))

A U B : {1, 2, 3, 4, 5, 6, 7}

In [9]:
# 10. Find the intersection of two sets.
a_se = {1,2,3,4,5}
b_se = {4,5,6,2,7}
print("A intersection B :", a_se.intersection(b_se))

A intersection B : {2, 4, 5}

In [12]:
# 11. Find the difference between two sets.
a_s = {1,2,3,4,5}
b_s = {4,5,6,2,7}
print("A - B :", a_s.difference(b_s))
print("B - A :", b_s.difference(a_s))

A - B : {1, 3}
B - A : {6, 7}

In [17]:
# 12. Check if a set is a subset of another set.
s3 = {1,2,3}
s4 = {1,2,3,4,5}
print(s3.issubset(s4))

True

In [18]:
# 13. Check if a set is a superset of another set.
s5 = {1,2,3,4,5}
s6 = {1,2,3}
print(s5.issuperset(s6))

True

In [20]:
# 14. Create a set from a list.
l_set = [1,2,3,4,5,5]
print(set(l_set))

{1, 2, 3, 4, 5}

In [21]:
# 15. Convert a set to a list.
s7 = {1,2,3,4,5}
print(list(s7))

[1, 2, 3, 4, 5]

In [31]:
# 16. Remove a random element from a set.
import random
s8 = {2,3,4,5,6,7,9,8}
random_element = random.choice(list(s8))
s8.remove(random_element)

print(f"Chosen random element: {random_element}")
print(f"Updated set: {s8}")

Chosen random element: 6
Updated set: {2, 3, 4, 5, 7, 8, 9}

In [34]:
# 17. Pop an element from a set.
s9 = {1,2,3,4,5}
s9.pop()
print(s9)

{2, 3, 4, 5}

In [45]:
# 18. Check if two sets have no elements in common.
s10 = {1,2,3,4,5}
s11 = {6,7,8,9,10}
if s10.isdisjoint(s11):
    print("There are no common elements in these sets.")
else:
    print("There are common elements in these sets.")

There are no common elements in these sets.

In [1]:
# 19. Find the symmetric difference between two sets.

s12 = {1,2,3,4,5}
s13 = {4,5,6,7,8}
print(s12.symmetric_difference(s13))

{1, 2, 3, 6, 7, 8}

In [5]:
# 20. Update a set with elements from another set.

s14 = {1,2,3,4,5,6}
s15 = {5,6,7,8,9,1}
s14.update(s15)
print(s14)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
# 21. Create a set of the first 5 prime numbers.
def prime(n):
    if n<=1:
        return False
    if n<= 3:
        return True
    if n%2 ==0 or n%3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_set = set()
num = 2 

while len(prime_set) < 5:
    if prime(num):
        prime_set.add(num)
    num += 1

print(prime_set)

{2, 3, 5, 7, 11}

In [11]:
# 22. Check if two sets are identical.
s16 = {1,2,3,4,5}
s17 = {5,4,3,6,1}
if s16 == s17:
    print("Identical")
else:
    print("Not identical")
# The sets are considered equal if they have the same elements, regardless of the order in which the elements appear

Not identical

In [17]:
# 23. Create a frozen set.

cars = frozenset(["Toyota", "Mercedes", "BMW", "Maruti Suzuki", "Kia"])
print("Toyota" in cars)
print("Honda" in cars)
cars.append("Honda")

True
False

AttributeError: 'frozenset' object has no attribute 'append'

In [19]:
# 24. Check if a set is disjoint with another set.
s18 = {12,23,34,45}
s19 = {45,56,67,78}
print(s18.isdisjoint(s19))
#Two sets are said to be disjoint when their intersection is null.

False

In [22]:
# 25. Create a set of squares of numbers from 1 to 5.
set_square = set(i**2 for i in range(1,6))
print(set_square)

{1, 4, 9, 16, 25}

In [24]:
# 26. Filter out all even numbers from a set.
s20 = {1,2,3,4,5,6,7,8,9,10}
print(set(i for i in s20 if i%2 == 0))

{2, 4, 6, 8, 10}

In [26]:
# 27. Multiply all elements in a set by 2.
s21 = {1,2,3,4,5}
print(set(i*2 for i in s21))

{2, 4, 6, 8, 10}

In [30]:
# 28. Create a set of random numbers.
import random

start = 1
end = 200
num_ = 10

random_set = set()

while len(random_set) < num:
    random_number = random.randint(start, end)
    random_set.add(random_number)

print(random_set)

{32, 128, 194, 70, 43, 16, 179, 181, 183, 124, 29, 95}

In [40]:
# 29. Check if a set is empty.
s22 = {}
if len(s22) == 0:
    print("Empty set")
else:
    print("Not an empty set")

Empty set

In [44]:
# 30. Create a nested set (hint: use frozenset).
s23 = frozenset({1,2,3})
s24 = frozenset({3,4,5})
s25 = frozenset({5,6,7})
nested_set = {s23, s24, s25}
print(nested_set)

{frozenset({1, 2, 3}), frozenset({5, 6, 7}), frozenset({3, 4, 5})}

In [47]:
# 31. Remove an element from a set using the discard method.
s26 = {10, 20, 30, 40}
s26.discard(20)
print(s26)

{40, 10, 30}

In [62]:
# 32. Compare two sets.
s27 = {1,2,3,4,5,6}
s28 = {3,2,1,4}

print("Set 1:", s27)
print("Set 2:", s28)

identical = s27 == s28
if identical:
    print("Sets are identical.")
else:
    print("Sets are ot identical")
    
subset = s27.issubset(s28)
print("Is set1 a subset of set2?", subset)

superset = s27.issuperset(s28)
print("Is set2 a subset of set1?", superset)

intersection = s27.intersection(s28)
print("Intersection:", intersection)

union = s27.union(s28)
print("Union:", union)

difference1 = s27.difference(s28)
print("Elements in set1 but not in set2:", difference1)

difference2 = s28.difference(s27)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5, 6}
Set 2: {1, 2, 3, 4}
Sets are ot identical
Is set1 a subset of set2? False
Is set2 a subset of set1? True
Intersection: {1, 2, 3, 4}
Union: {1, 2, 3, 4, 5, 6}
Elements in set1 but not in set2: {5, 6}
Elements in set2 but not in set1: set()

In [57]:
# 33. Create a set from a string.
st_set = "Street"
l_st_set = list(st_set)
l_st_set
set_string = set(l_st_set)
set_string

{'S', 'e', 'r', 't'}

In [2]:
# 34. Convert a set of strings to a set of integers.
s29 = {"1","2","3","4","5"}
l_int = [eval(i) for i in list(s29)]
set(l_int)

{1, 2, 3, 4, 5}

In [3]:
# 35. Convert a set of integers to a set of strings.
s30 = {1,2,3,4,5}
str_set = {str(i) for i in s30}
str_set

{'1', '2', '3', '4', '5'}

In [5]:
# 36. Create a set from a tuple.
tup = (1,2,3,4,5,5)
set_tup = set(tup)
set_tup

{1, 2, 3, 4, 5}

In [6]:
# 37. Convert a set to a tuple.
s31 = {1,2,3,4,5}
tup_set = tuple(s31)
print(tup_set)

(1, 2, 3, 4, 5)

In [7]:
# 38. Find the maximum value in a set.
s32 = {1,2,3,4,5,6}
print(max(s32))

6

In [8]:
# 39. Find the minimum value in a set.
s33 = {1,2,3,4,5,6}
print(min(s33))

1

In [11]:
# 40. Create a set from user input.
s34 = input("Enter the input:").split(",")
set(s34)

Enter the input: set,tuple,integer,float,string

{'float', 'integer', 'set', 'string', 'tuple'}

In [16]:
# 41. Check if the intersection of two sets is empty.
s35 = {1,2,3,4,5}
s36 = {5,6,7,8,9}
empty = s35.isdisjoint(s36)
    
if empty:
    print("Empty set")
else:
    print("Not an empty set")

Not an empty set

In [30]:
# 42. Create a set of the first 5 Fibonacci numbers.
def fibb(n):
    fibonacci = [0,1]
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return set(fibonacci)

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_set = fibb(5)

# Print the resulting tuple
print(fibonacci_set)

{0, 1, 2, 3}

In [31]:
# 43. Remove duplicates from a list using sets.
l_dup = [1,1,1,2,3,3,4,5,6,6,7,7,7,7,8]
s_dup = set(l_dup)
print("List without duplicates is:", list(s_dup))

List without duplicates is: [1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
# 44. Check if two sets have the same elements, regardless of their count.
s37 = {1,2,3,4,5}
s38 = {5,4,3,2,1}
if s37 == s38:
    print("Both sets have the same elements")
else:
    print("Two sets do not have the same elements")

Both sets have the same elements

In [43]:
# 45. Create a set of the first `n` powers of 2.
n = int(input())
set_power_2 = sorted(set(2**n for n in range(1, n+1)))
print(f"Set containing 2's power upto {n}:",set_power_2)

 10

Set containing 2's power upto 10: [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [45]:
# 46. Find the common elements between a set and a list.

s39 = {1,2,3,4,5,6}
l_comp = [1,2,3,7,8,9]

print("Common elements in set & list:", s39.intersection(l_comp))

Common elements in set & list: {1, 2, 3}

In [46]:
# 47. Create a set of the first `n` triangular numbers.
ns_tri = int(input("Enter the number:"))
set_tri = set((i*(i+1)//2) for i in range(1, ns_tri+1))
print("First 3 triangular numbers are:",set_tri)

Enter the number: 3

First 3 triangular numbers are: {1, 3, 6}

In [49]:
# 48. Check if a set contains another set as a subset.
s40 = {1,2,3,4,5}
s41 = {1,2,3,4}
subset = s41.issubset(s40)
if subset:
    print("Yes")
else:
    print("No")

Yes

In [50]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = int(input("Enter the number: "))
alter_set = set(1 if i % 2 == 0 else 0 for i in range(n))
print(alter_set)

Enter the number:  10

{0, 1}

In [54]:
# 50. Merge multiple sets into one.
s42 = {1,2,3}
s43 = {4,5,6}
s44 = {7,8,9}
merged_set = s42.union(s43,s44)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7, 8, 9}